*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1a1a1a; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-family: Arial, sans-serif;
}

.container{
    background-color: rgba(255, 193, 154, 0.1); 
    border: 1px solid rgba(255, 193, 154, 0.4);
    font-size: 40px;
    padding: 10px;
    color: #ffb07c;
    width: 70%;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    margin: 20px;
}

p{
    animation-name: moving;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes moving {
    from{
        margin-left: 100%;
    }
    to{
        margin-left: -100%;
    }
}
